/* @import "tailwindcss"; */
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
   background: #E5E5E5;
  /* color: var(--foreground);  */
  font-family: Arial, Helvetica, sans-serif;
}


.page-grid{
   display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    "left left left left left left right right right right right dots"
    "variants variants variants variants variants variants variants variants variants variants variants variants";
  gap: 24px;
  min-height: 100vh;
  padding: 24px;
  background: #BAD0DD;
  border-radius: 20px;
  max-width: 1200px;
  margin: 24px auto;
}

/************************* header******************** */

.nav{
  
  grid-area: nav;
  width: 100%;

}

.nav_inner{
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.nav_flex{
  display: flex;
  gap: 2rem;

  li{
    list-style-type: none;
    color: white;
  }

  li:nth-of-type(3){
    background-color: white;
    color:#BAD0DD;
    padding: 0.3rem 1rem;
    border-radius: 99px;
  }

}

.nav_icons{
  display: flex;
  gap: 2rem;
}

/* ***************Hero Text*********************** */

.left { grid-area: left; align-self: center; }

.section_inner{
  padding-left: 2rem;
  
  h1{
    font-size: 4rem;
    text-wrap: nowrap;

    margin-bottom: 1px;
    color: white;
    letter-spacing: 2px;
  }
  h3{
    margin-top: 0;
    font-size: 4rem;
    margin-bottom: 2rem;
    color: white;
    letter-spacing: 2px;
    font-weight: 100;
  }

  button{
    background-color:#BAD0DD;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border: 3px solid white;
    border-radius: 99px;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
  }
}

/* *******************i Watch image********************** */

 
.right { grid-area: right; align-self: center; justify-self: flex-end; }

.hero_img{
  width: 100%;
  max-width: 400px;
  /* transform: translateX(100px); */
}

/* ******************* Color Dots and Variant Strip********************** */

 .dots { grid-area: dots; align-self: center; justify-self: flex-end; } 

.dots_inner{
   display: flex;
  flex-direction: column;   /* vertical stack */
  gap: 2rem;
  align-items: center;
  margin-right: 2rem;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}

.dot:hover{
  transform: scale(150%);
}


/* custom colors */
.dot.navy { background-color: #2d324d; }
.dot.mint { background-color: #6de0c1; }
.dot.ocean { background-color: #D1E0E7; }





/* .variants { grid-area: variants; align-self: end; } */